.shopping-bag{
  background-color: lightgreen;
  border-bottom: ;: none;
  padding: 5px 15px;
  border-radius: 20px;
}
.wish-button{
  padding: 5px 15px;
  border:2px solid black ;
  border-radius: 10px;
}